@model TalksByUser
<div class="col-lg-12">
    <div class="d-flex">
        <h1 class="mt-4"><a href="@Model.SlackDmLink">@ViewData["Title"]</a></h1>
    </div>
    <div class="media">
        <img class="mr-3 img-thumbnail b-lazy" width="100" height="100" src="/Transparent.gif" data-src="@Model.User.ProfileImageUrl" alt="@Model.User.Name" title="@Model.User.Name">
        <div class="media-body">
            <p class="font-weight-normal">@Model.User.Description</p>
        </div>
    </div>
    @{ ViewData["Talks"] = Model.TalkSummaries; }
    @{ ViewData["ShowConference"] = true; }
    @await Html.PartialAsync("/Views/Conference/TalkGrid.cshtml")
</div>
