@using MediaServer.Models;

@model Talk
<div class="col-lg-12">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <!-- TODO: Simplify URLs of this form -->
    <form method="POST" id="saveForm" action="/@this.ViewContext.RouteData.Values["controller"].ToString()/@ViewData["ConferenceId"]/Save?oldName=@ViewData["OldName"]">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="Thumbnail">Thumbnail</label>
                    <img class="img-fluid" id="Thumbnail" name="Thumbnail" src="@Model.Thumbnail" alt="Talk thumbnail">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="video">Video</label>
                    @Html.DropDownListFor(video => video.Name, (IEnumerable<SelectListItem>)ViewBag.VideoList, "Select video", new { @class = "form-control", @onchange = "onVideoSelected(this.value)", @id = "video" })
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <textarea class="form-control" id="Description" name="Description" rows="3" disabled="@ViewData[" IsSave"]" required>@Model.Description</textarea>
                </div>
                <div class="form-group">
                    <label for="Speaker">Speaker</label>
                    <input type="text" class="form-control" id="Speaker" name="Speaker" disabled="@ViewData[" IsSave"]" value="@Model.Speaker" required>
                </div>
                <div class="form-group">
                    <label for="SpeakerDeck">Speaker Deck</label>
                    <input type="text" class="form-control" id="SpeakerDeck" name="SpeakerDeck" value="@Model.SpeakerDeck" disabled="@ViewData[" IsSave"]">
                </div>
                <div class="row justify-content-end">
                    <button type="button" onclick="location.href='.';" class="btn btn-danger mr-2" style="width: 80px">Cancel</button>
                    <button type="submit" class="btn btn-success mr-3" id="saveButton" style="width: 80px" disabled="@ViewData[" IsSave"]">Save</button>
                </div>
            </div>
        </div>
        <script type="text/javascript">document.querySelector("#saveForm").addEventListener("submit", function(e) {
            var saveButton = document.getElementById("saveButton");
            var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i>';
            saveButton.innerHTML = loadingText;
            saveButton.disabled = 'true';
        });

        function onVideoSelected(video) {
            var speakerDeck = document.getElementById("SpeakerDeck");
            var disabled = video === "";
            document.getElementById("Description").disabled = disabled;
            document.getElementById("Speaker").disabled = disabled;
            speakerDeck.disabled = disabled;
            document.getElementById("saveButton").disabled = disabled;

            if (disabled) {
                return;
            }

            speakerDeckName = video + ".pdf";
            var speakerDeckUrl = "/@this.ViewContext.RouteData.Values["controller"].ToString()/@ViewData["ConferenceId"]/" + speakerDeckName;

            var request;
            if (window.XMLHttpRequest)
                request = new XMLHttpRequest();
            else
                request = new ActiveXObject("Microsoft.XMLHTTP");

            request.open('GET', speakerDeckUrl, true);
            request.onreadystatechange = checkReadyState;
            // TODO: Do I need send here?
            request.send();
            function checkReadyState() {
                if (request.readyState === 4) {
                    if (request.status == 200) {
                        speakerDeck.value = speakerDeckName;
                    } else {
                        speakerDeck.value = "";
                    }
                }
            }
        }
    </script>
    </form>
</div>




