@model ITalksViewModel
<div class="row mt-2">
    @{var talks = Model.Talks;}
    @foreach (var talk in talks)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="@talk.Url">
                    <img class="card-img-top b-lazy" src="/Transparent.gif" data-src="@talk.Thumbnail" alt="Talk thumbnail">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@talk.Url">@talk.TalkName</a>
                    </h4>
                    <h6 class="text-muted">
                        @for (int i = 0; i < talk.Speakers.Length; i++)
                        {
                            var speaker = talk.Speakers[i];
                            <a class="text-muted" href="/Speaker/@speaker">@speaker</a><span>@(i < talk.Speakers.Length - 1 ? "," : "")</span>
                        }
                        @if (Model.ShowConference)
                        {
                            <span> - </span>
                            <a class="text-muted" href="@talk.ConferenceUrl">@talk.ConferenceName</a>
                        }
                        <span> - @talk.ZonedTimeStamp</span>
                    </h6>
                    <p class="card-text">@talk.Description</p>
                </div>
            </div>
        </div>
    }
</div>