<div class="col-lg-12">
    @{var talk = (TalkViewModel)ViewData["Talk"];}
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="mt-4">@talk.TalkName</h1>
        </div>
        <div>
            <form action="/@this.ViewContext.RouteData.Values["controller"].ToString()/@ViewData["Slug"]/@talk.TalkName/Edit" style="display: inline;">
                <button type="submit" class="btn btn-primary mt-4 align-text-top">Edit</button>
            </form>
        </div>
    </div>
    <h4 class="text-muted">@talk.Speaker, @talk.ZonedTimeStamp</h4>
    <p class="font-weight-normal">@talk.Description</p>
  
    <video class="w-100" controls><source src="@talk.UriEncodedVideoName" type="video/mp4"></source></video>

    <div class="row no-gutters">
        <div class="col">
            <!-- TODO: If speaker deck is not found, don't show button -->
            <form action="@talk.SpeakerDeck" target="_blank" style="display: inline;">
                <button type="submit" class="btn btn-dark float-on-iframe mr-4 mt-2" id="popOut"><i class="fa fa-external-link"></i></button>
            </form>
            <object class="w-100 mt-3" style="height: 61vh" data="@(talk.SpeakerDeck ?? "../../../SpeakerDeckNotFound.html")"></object>
        </div>
    </div>
</div>

